.card {
  flex: 1 0 24%;
  flex-grow:0;
  &:nth-child(4n){
    margin-right:0%;
  }
  img{
    max-width:100%;
    &.thumbnail{
      width:100%;
    }
  }
  .card--top{
    position: relative;
  }
  .flag{
    position:absolute;
    bottom:.75rem;
    left:.5rem;
  }
}

@media screen and(max-width:1024px){
  .card {
    flex: 1 0 33%;
    flex-grow:0;
    &:nth-child(3n){
      margin-right:0%;
    }
  }
}

@media screen and(max-width:767px){
  .card{
    flex:1 0 49%;
    flex-grow:0;
    &:nth-child(2n){
      margin-right:0%;
    }
  }
}
