$font-primary: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
$brand-primary: black;
$brand-secondary: white;
$brand-accent: #ffc600;
$ui-dark: black;
$ui-light: white;

.light-text{
  color:white;
}

h1, h2, h3, h4, h5, h6, .display-primary, .display-primary-6, .display-primary-5, .display-primary-4, .display-primary-3, .display-primary-2, .display-primary-1, .display-primary-0, .display-secondary, .display-secondary-6, .display-secondary-5, .display-secondary-4, .display-secondary-3, .display-secondary-2, .display-secondary-1, .display-secondary-0, .tertiary, .tertiary-6, .tertiary-5, .tertiary-4, .tertiary-3, .tertiary-2, .tertiary-1, .tertiary-0{
  font-family: $font-primary;
  font-weight: 200;
  text-transform: capitalize;
  letter-spacing: 0;
  line-height: 1.08;
}

h1, .display-primary-6, .display-secondary-6, .display-tertiary-6{font-size: var(--fs10);}
h2, .display-primary-5, .display-secondary-5, .display-tertiary-5{font-size: var(--fs09);}
h3, .display-primary-4, .display-secondary-4, .display-tertiary-4{font-size: var(--fs07);}
h4, .display-primary-3, .display-secondary-3, .display-tertiary-3{font-size: var(--fs05);}
h5, .display-primary-2, .display-secondary-2, .display-tertiary-2{font-size: var(--fs04);}
h6, .display-primary-1, .display-secondary-1, .display-tertiary-1{font-size: var(--fs02);}
.display-primary-0, .display-secondary-0, .display-tertiary-0{font-size: var(--fs01);}

.label, .label-lg, .label-md, .label-sm, .label-xs, .label-primary, .label-primary-lg, .label-primary-md, .label-primary-sm, .label-primary-xs, .label-secondary-lg, .label-secondary-md, .label-secondary-sm, .label-secondary-xs{
  font-family: $font-primary;
  line-height: 1.08;
  text-transform: uppercase;
}

.label-primary, .label-primary-lg, .label-primary-md, .label-primary-sm, .label-primary-xs{
  font-weight: 700;
  letter-spacing: 1.5px;
}

.label-secondary, .label-secondary-lg, .label-secondary-md, .label-secondary-sm, .label-secondary-xs{
  font-weight: 400;
  letter-spacing: 1px;
}

.button, .button-lg, .button-md, .button-sm, .button-xs{
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight:700;
  letter-spacing:1.5px;
}

.label-lg, .label-primary-lg, .label-secondary-lg, .button-lg {font-size: var(--fs04);}
.label-md, .label-primary-md, .label-secondary-md, .button-md {font-size: var(--fs02);}
.label-sm, .label-primary-sm, .label-secondary-sm, .button-sm {font-size: var(--fs01);}
.label-xs, .label-primary-xs, .label-secondary-xs, .button-xs {font-size: var(--fs00);}


.button, .button-lg, .button-md, .button-sm, .button-xs{
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight:700;
  letter-spacing:1.5px;
}

body, p, .body, .body-xs, .body-sm, .body-md, .body-lg, .body-xl{
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

.body-sm, .body-xs{
  font-weight: 400;
}

.body-xl, .body-link-xl {font-size: var(--fs07);}
.body-lg, .body-link-lg {font-size: var(--fs04);}
.body-md, .body-link-md, p {font-size: var(--fs02);}
.body-sm, .body-link-sm {font-size: var(--fs01);}
.body-xs, .body-link-xs {font-size: var(--fs00);}

.body-link, .body-link-xl, .body-link-lg, .body-link-md, .body-link-sm, .body-link-xs{
  font-weight:700;
  opacity: .6;
  cursor: pointer;
  &:hover{
    opacity:1;
  }
}

@media screen and (min-width: 960px){
  .fs-desktop-15{font-size: var(--fs15);}
  .fs-desktop-14{font-size: var(--fs14);}
  .fs-desktop-13{font-size: var(--fs13);}
  .fs-desktop-12{font-size: var(--fs12);}
  .fs-desktop-11{font-size: var(--fs11);}
  .fs-desktop-10{font-size: var(--fs10);}
  .fs-desktop-09{font-size: var(--fs09);}
  .fs-desktop-08{font-size: var(--fs08);}
  .fs-desktop-07{font-size: var(--fs07);}
  .fs-desktop-06{font-size: var(--fs06);}
  .fs-desktop-05{font-size: var(--fs05);}
  .fs-desktop-04{font-size: var(--fs04);}
  .fs-desktop-03{font-size: var(--fs03);}
  .fs-desktop-02{font-size: var(--fs02);}
  .fs-desktop-01{font-size: var(--fs01);}
  .fs-desktop-00{font-size: var(--fs00);}
}
